html {
  height: 100%;
  background-color: #fff;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
  height: 100%;
  background-color: #29bde0;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  background-color: #29bde0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

header span {
  font-size: 20px;
}

.header-back {
  margin-left: 10px;
  width: 16px;
}

.header-close {
  margin-right: 10px;
  width: 20px;
}

main {
  padding-top: 70px;
  padding-bottom: 200px;
  background-color: #29bde0;
}

.main-role {
  overflow: hidden;
  width: 100%;
}

.role-in {
  float: left;
  width: 21%;
  height: 21vw;
  max-height: 162px;
  margin: 5.5%;
  background-color: #f5c97b;
  border: 2px solid #fff;
}

.role-ide, .role-order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78%;
}

.role-order {
  height: 22%;
  color: #fff;
  background-color: #83b09a;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-width: 768px;
  background-color: #29bde0;
  z-index: 1;
}

.footer-start,
.footer-back {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 40px;
  font-size: 20px;
  background-color: #fdbc48;
  color: #fff;
  border: none;
  outline: 0;
}
