body {
    background-color: #68cdd5;
    color: white;
}
.back {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    left: 0.625rem;
}
.main {
    position: relative;
    width: 60%;
    height: 22.5rem;
    top: 4rem;
    margin: 0 auto;
}
    
.logo {
    width: 8.5rem;
    height: 3.5rem;
    margin: 0 auto;
    display: block;
    margin-top: 5rem;    
}

.right {
    width: 4.5rem;
    float: right;
    text-align: center;
    margin-right: 1.25rem;
    margin-top: 8rem;
    
}
.number {
        width: 3rem;
    }
.left {
    width: 4rem;
    float: left; 
    text-align: center;  
    margin-left: 1.25rem; 
    margin-top: 8rem;
}
.logo2 {
    width: 3rem;
}
@media screen and (max-width: 768px) {
    .main {
        width: 80%;
    }
}
@media screen and (min-width: 769px) {
    .main {
        width: 70%;
    }
}
